/* 
      .--..--..--..--..--..--.
    .' \  (`._   (_)     _   \
  .'    |  '._)         (_)  |
  \ _.')\      .----..---.   /
  |(_.'  |    /    .-\-.  \  |
  \     0|    |   ( O| O) | o|
   |  _  |  .--.____.'._.-.  |
   \ (_) | o         -` .-`  |
    |    \   |`-._ _ _ _ _\ /
    \    |   |  `. |_||_|   |
    | o  |    \_      \     |     -.   .-.
    |.-.  \     `--..-'   O |     `.`-' .'
  _.'  .' |     `-.-'      /-.__   ' .-'
.' `-.` '.|='=.='=.='=.='=|._/_ `-'.'
`-._  `.  |________/\_____|    `-.'
   .'   ).| '=' '='\/ '=' |
   `._.`  '---------------'
           //___\   //___\
             ||       ||
             ||_.-.   ||_.-.
            (_.--__) (_.--__)
       

 Insert all your glorious CSS styles below! */
 /* orelega-one-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Orelega One';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/orelega-one-v14-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* open-sans-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/open-sans-v44-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}


html {font-size: 26px;}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: false;
  line-height: 1.65;
      background-color: #E36414;
      border: solid, thick;
      border-color: #0f4c5c;
      transform: scale(0.95); /* 95% of original size */
  transform-origin: top left;
     /* background-image: url('images/spookyhalloween3.jpg') no-repeat ; */
}

p, ul {
  font-size: 1em;
  font-family: "Momo Trust Display", sans-serif;
  font-weight: 400;
  font-style: normal;
text-align: center;
}

.momo-trust-display-regular {
  font-family: "Momo Trust Display", sans-serif;
  font-weight: 400;
  font-style: normal;
}



h1,
.text-size-h1 {
  font-family: 'Orelega One', sans-serif;
  font-weight: 700;
  margin-top: 0;
  font-size: 3.14em;
      text-align: center;
      font-color: #0F4C5C;
}

h2,
.text-size-h2 {
       font-family: 'Orelega One', sans-serif;
  font-weight: 700;
  margin-top: 0;
      font-size: 3.16em; 
              text-align:center;}

h3,
.text-size-h3 { font-family: 'Orelega One', sans-serif;
  font-weight: 700;
  margin-top: 0;
      font-size: 2.37em;
              text-align:center;}



small,
.text-small {
  font-size: 0.56em;
}
